<h1>Template Form</h1>
<form #userForm="ngForm" (ngSubmit)="adddetails(userForm.value)">
  <input #name="ngModel" required type="text" placeholder="enter name" name="name" ngModel />
  <span *ngIf="name.invalid && name.touched" style="color:red">Name is required</span>
  <br /><br />
  <input #password="ngModel" minlength="5" maxlength="10" placeholder="enter password" required type="password" id="password" name="password" ngModel />
  <span *ngIf="password.invalid && password.touched" style="color:red">Password is required</span>
  <br /><br />
  <input type="email" #email="ngModel" placeholder="enter email" email name="email" ngModel />
  <span *ngIf="email.invalid && email.touched" style="color:red">Email is required</span>
  <br /><br />
  <input type="text" placeholder="enter address" #address="ngModel" pattern="[a-zA-Z0-9\s]+" required name="address" ngModel />
  <span *ngIf="address.invalid && address.touched" style="color:red">Address is required</span>
  <br /><br />
  <select #gender="ngModel" required name="gender" ngModel>
    <option value="" disabled selected>Select your gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <span *ngIf="gender.invalid && gender.touched" style="color:red">Gender is required</span>
  <br /><br />
  <button [disabled]="userForm.invalid">Submit</button>
</form>

<h3>{{ userdetails.name }}</h3>
<h3>{{ userdetails.password }}</h3>
<h3>{{ userdetails.email }}</h3>
<h3>{{ userdetails.address }}</h3>
<h3>{{ userdetails.gender }}</h3>